* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: #eeeeee;
  color: #030303;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.6rem;
}

header {
  text-align: center;
  padding: 3rem 0;
  background-image: linear-gradient(120deg, #939afb 0%, #5762f5 100%);
  color: white;
}

header > h1 {
  font-weight: normal;
  font-style: italic;
}

main {
  padding: 1rem 0;
}

.container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

.movie {
  width: 100%;
}

.button {
  width: 15rem;
  height: 5rem;
  margin-top: 2rem;
  background-color: #939afb;
  border-radius: 1rem;
  border: none;
}

.button:hover {
  background-color: #5762f5;
}
